* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Biryani", sans-serif;
  color: #2c3233;

  background-color: #fef8ef;
  height: 100vh;

  position: relative;
}

header {
  background-color: #151b1c;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  height: 8rem;

  position: relative;
}

.logo {
  width: 50%;
}

.welcome {
  font-size: 2.2rem;
  color: #f8f8f8;
}

main {
  padding: 6rem;
}

/* ////////////////// HOME PAGE //////////////////*/

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.login-box {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.login-box p {
  font-size: 2.4rem;
  font-weight: 700;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 80%;
}

.login__input {
  border: none;
  padding: 1.2rem 6rem;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;

  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #151b1c;
}

.btn--login {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: #68583c;
  color: #f8f8f8;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;

  width: 100%;
}

.safety-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 80%;
  justify-self: center;
}

.safety-message h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.safety-message ul {
  list-style: disc;
  font-size: 1.8rem;
  line-height: 1.2;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/*////////////////// MODAL //////////////////*/

.login-info-box {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  display: inline-block;
}

.login-info {
  width: 10rem;
  height: 6rem;
  border-radius: 10rem;

  color: inherit;
  font-family: inherit;
  font-weight: 700;

  border: none;
  background-color: #d6b564;

  cursor: pointer;

  transition: all 0.3s;
}

.login-info:hover {
  background-color: #68583c;
  color: #f8f8f8;
}

.modal {
  padding: 3rem 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #d6b564;
  box-shadow: 0 3rem 5rem rgba(21, 27, 28, 0.3);
  border-radius: 11px;

  z-index: 1111;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;

  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
}

.box-top {
  font-size: 2.2rem;
  font-weight: 600;
}

.box {
  position: relative;
  padding-bottom: 1rem;
}

.box::after {
  content: "";
  position: absolute;
  left: -1.5rem;
  right: -1.5rem;
  bottom: 0;
  border-bottom: 2px solid #d5c7a5;
}

.wrapper > .box:nth-child(3n + 1)::after {
  left: 0;
}

.wrapper > .box:nth-child(3n)::after {
  right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 27, 28, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 2rem;
  width: 2.4rem;
  height: 2.4rem;

  cursor: pointer;

  background-color: #d5c7a5;
  border: none;
  border-radius: 5px;
}

/* /////////// APP PAGE /////////////// */

.app-page {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  column-gap: 2.2rem;
  row-gap: 2rem;

  font-size: 1.4rem;

  max-width: 100rem;
  margin: 2rem auto;
}

/*BALANCE*/
.balance {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.balance__label {
  font-size: 2.2rem;
}

.balance__date {
  font-size: 1.4;
  color: #737677;
}

.balance__value {
  font-size: 4.6rem;
}

/*MOVEMENTS*/

.movements {
  background-color: #fdf1df;
  border-radius: 11px;
  overflow-y: scroll;

  grid-row: 2 / span 3;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fef8ef;

  display: flex;
  justify-content: space-between;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__value {
  font-size: 1.7rem;
}

.movements__total {
  font-size: 1.5rem;
  color: #555;
}

/*OPERATIONS*/

.operation {
  padding: 3rem 4rem;
  border-radius: 11px;
}

.operation--transfers {
  background-image: linear-gradient(to right bottom, #f3b95f, #f4c06f);
}

.operation--loan {
  background-image: linear-gradient(to right bottom, #6895d2, #77a0d7);
}

.operation--payment {
  background-image: linear-gradient(to right bottom, #ff6868, #ff7777);
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form__input--to,
.form__input--amount,
.form__btn--transfer {
  grid-row: 2;
}

.form__input--loan-amount,
.form__btn--loan {
  grid-row: 2;
}
.form__btn--loan {
  width: 37.5%;
}
.form__select,
.form__input--payment,
.form__btn--payment {
  grid-row: 2;
}

/*SUMMARY*/
.summary {
  display: flex;
  align-items: baseline;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #6895d2;
}

.summary__value--out {
  color: #ff6868;
}

/*TIMER*/
.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

/* LOGOUT BUTTON */

.btn--logout {
  display: block;
  position: absolute;
  bottom: -4rem;
  right: 2rem;

  padding: 0.8rem 1.2rem;
  background-color: #bd3232;
  border: none;
  border-radius: 9px;

  color: #f8f8f8;
  font-family: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}
