* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Biryani", sans-serif;
  color: #151b1c;
  background-color: #d5c7a5;
  height: 100vh;
}

header {
  background-color: #151b1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 
  margin: 4rem 0; */
  padding: 0 2rem;
  height: 8rem;
}

.logo {
  width: 50%;
}

.welcome {
  font-size: 2.2rem;
  color: #f8f8f8;
}

main {
  padding: 6rem;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.login-box {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.login-box p {
  font-size: 2.4rem;
  font-weight: 700;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 80%;
}

.login__input {
  border: none;
  padding: 1.2rem 6rem;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;

  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #151b1c;
}

.login__btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: #68583c;
  color: #f8f8f8;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;

  width: 100%;
}

.safety-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 80%;
  justify-self: center;
}

.safety-message h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.safety-message ul {
  list-style: disc;
  font-size: 1.8rem;
  line-height: 1.2;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.login-info-box {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  display: inline-block;
}

.login-info {
  width: 10rem;
  height: 6rem;
  border-radius: 10rem;

  color: inherit;
  font-family: inherit;
  font-weight: 700;

  border: none;
  background-color: #d6b564;

  cursor: pointer;

  transition: all 0.3s;
}

.login-info:hover {
  background-color: #68583c;
  color: #f8f8f8;
}
